#include "hilltop.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

/ {
    chosen {
        zmk,kscan = &mock_kscan;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

    glidepoint_listener: glidepoint_listener {
        compatible = "zmk,input-listener";
        status = "okay";
        device = <&glidepoint>;
        //input-processors = <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;
    };
};

&xiao_i2c {
    status = "okay";
    
    glidepoint: glidepoint@2a {
        compatible = "cirque,pinnacle";
        reg = <0x2A>;
        status = "okay";
        dr-gpios = <&xiao_d D3 (GPIO_ACTIVE_HIGH)>;

        sensitivity = "4x"; //1x, 2x, 3x, 4x
        //rotate-90;
        //x-invert;
        //y-invert;
        sleep;
        //no-secondary-tap;
        //no-taps;
        x-axis-z-min = 5; //default 5
        y-axis-z-min = 4; // default 4
        
    };
};